<style>
  /* ESTILOS */
/*CatFish (seccion_sticky) - START*/
.catfish-start.close-catfish{
  display:none;
}
@keyframes outcatfish{from{height: 106px;} to {height: 0px;}}
#wawa-catfish{
  max-width: 100%;
  text-align: center;
  left: 0;
  z-index: 10000000;
  bottom: 0px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2)!important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.catfish-space {height: 100px;display:flex; align-items: center; justify-content: center;}
.catfish-space {height: 106px;display: flex;align-items: center;justify-content: center;}
.catfish-space button {
  display: block !important;
  position: absolute;
  width: 28px;
  height: 28px;
  top: -27px;
  z-index: 2010;
  right: 0px;
  background-image: url();
  background-size: 13px 13px;
  background-position: 9px center;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px 0px;
  border: none;
  border-radius: 12px 0px 0px;
}
.hide-catfish {
  -webkit-transform:translate(0px,160%) !important;
  -moz-transform:translate(0px,160%) !important;
  -o-transform:translate(0px,160%) !important;
  -ms-transform:translate(0px,160%) !important;
  transform:translate(0px,160%) !important;
}
/*CatFish (seccion_sticky) - END*/
/* Cerrar menú para AMP */
.close-menu::after{
    content: '\02a2f';
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: right;
    font-family: sans-serif;
    margin-bottom: -46px;
    padding: 8px;
}
 </style>
<!-- Catfish START -->
  <!-- 1. Definir el estado del menú de navegación -->
  <amp-state id="catFishExpanded">
          <script type="application/json">false</script>
  </amp-state>
  <div id="wawa-catfish" class="catfish-start" [class]="'catfish-start' + ( catFishExpanded ? ' close-catfish' : '' )">
    <div id="container-catfish" class="catfish-space">
      <button id="catfish-btn" on="tap:AMP.setState( { catFishExpanded: ! catFishExpanded } )"></button>
      <amp-ad width=320 height=100
      type="wawa"
      data-slot="/data/slot/ID"
      data-multi-size="320x50,300x100,300x50">
  </amp-ad>
    </div>
  </div>
  <!-- Catfish END -->
