background: -webkit-gradient(linear, left top, left bottom, from(var(--secondary)), to(var(--primary)));
background: linear-gradient(to bottom left, var(--secondary) 0%, var(--primary) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
