/* Scrollbar styles */
/* Firefox */
.element {
  scrollbar-color: red green;
  scrollbar-width: thin;
}
/* Webkit and Blink*/
.element::-webkit-scrollbar {
  width: 4px;
  background-color: green;
}
.element::-webkit-scrollbar-thumb {
  background: red;
}
/* END Scrollbar Styles */
