<div class="input-group mb-1">
    <div class="input-group-prepend">
        <label class="input-group-text" for="meh">Aportación cliente:</label>
    <div class="input-group-text">
        <input type="checkbox" name="meh" aria-label="" value="">
    </div>
    </div>
    <input type="number" class="check_able" name="input_meh" class="form-control" aria-label="" value="input_meh">
</div>